{
  "extends": [
    "react-app",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [{
    "files": "**/*.test.js",
    "globals": {
      "shallow": true,
      "React": true,
      "ReactDOM": true,
      "mount": true
    }
  }],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "dot-notation": "error",
    "prettier/prettier": "error"
  }
}
