html,
body {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

a {
  &:focus {
    text-decoration: none;
  }
}

a.text-colored,
.text-colored-links a {
  color: @text-color;

  &:hover {
    color: @link-hover-color;
  }

  &:active {
    color: @link-active-color;
  }
}

.no-bold {
  font-weight: normal;
}

.righted {
  text-align: right;
}

/* Overwrite ants default generic styling: #root ensures higher specificity */
#root {
  b,
  strong {
    font-weight: 600;
  }

  pre,
  code {
    font-size: 12px;
  }
}

/* Useful when using elements that get a 'cursor:pointer' by antd */
.unset-cursor {
  cursor: unset;
}
