#root {
  height: 100%;

  > .ant-layout {
    min-height: 100%;
  }
}

.content-wrapper {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 1012px;
}

.ant-layout-header {
  &.app-header {
    a {
      color: #FFF;
    }

    .content-wrapper {
      align-items: center;
      display: flex;
      position: relative;
      z-index: 5;

      > a {
        display: flex;

        &:active,
        &:focus {
          text-decoration: none;
        }
      }

      .user-meta {
        flex: 1;
        text-align: right;

        .anticon-caret-down {
          font-size: 10px;
          margin-left: 6px;
        }
      }
    }

    button {
      margin-left: 1em;
    }

    h1 {
      color: #FFF;
      font-size: 14px;
      font-weight: bold;
      line-height: normal;
      margin: 0 2em 0 1em;
      width: 64px;
    }
  }

  &.navigator {
    background: #FFF;
    border-bottom: 1px solid @border-color-base;
    margin-bottom: 24px;
  }

  .ant-affix & {
    &.navigator {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
  }
}
