@import '../less/main.less';

#root {
  height: 100%;

  > .ant-layout {
    min-height: 100%;
  }
}

.content-wrapper {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 1012px;

  .content {
    padding: 2em;
  }
}

.sidebar.ant-layout-header {
  align-items: end;
  display: flex;
  height: 47px;
  line-height: 47px;
}

.righted {
  text-align: right;
}

.app.ant-layout {
  min-height: 100vh;
}

.app-content {
  padding: 2em;
}

.ant-layout-header.app-header {
  a {
    color: #FFF;
  }

  .content-wrapper {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 5;

    > a {
      padding: 0 2em;

      &,
      &:focus,
      &:active {
        border-radius: 0;
      }

      &.active {
        background: rgba(255, 255, 255, 0.1);
      }
    }

    .user-meta {
      flex: 1;
      text-align: right;

      .anticon-caret-down {
        font-size: 10px;
        margin-left: 6px;
      }
    }
  }

  button {
    margin-left: 1em;
  }

  h1 {
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0 2em 0 1em;
    width: 64px;
  }
}
